.main_container{
    background-color: black;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
}

.time_container{
    color: white;
    /* font-size: 100px; */
}

.our_time{
    /* color: white; */
    font-size: 8rem;
}
.our_date{
    color: rgb(188, 188, 188);
    font-size: 2rem;
}